<div id="sidebar" th:fragment="sidebarMenu">
    <nav>
        <div style="padding: 10px; font-weight: bold;">
            <!-- Display the username from the model -->
            <span th:text="${username}">Username</span>
        </div>
        <ul>
            <li><a th:href="@{/tenant-index}">Dashboard</a></li>
            <li><a th:href="@{/tenant-announcement}">Announcements</a></li>
            <li><a th:href="@{/tenant-payments/list}">Payments</a></li>
            <li><a th:href="@{/tenant/reports}">Add Complaints</a></li>
            <li><a th:href="@{/tenant-leave}">Leave Request</a></li>
            <form th:action="@{/logout}" method="post">
                <button class="logout" type="submit">Logout</button>
            </form>
        </ul>
    </nav>
</div>
