<div id="sidebar" th:fragment="sidebarMenu">
    <nav>
        <ul>
            <li><a th:href="@{tenant-index}">Dashboard</a></li>
            <li><a th:href="@{tenant-announcement}">Announcements</a></li>
            <li><a th:href="@{tenant-payments}">Payments</a></li>
            <li><a th:href="@{tenant-reports}">Reports</a></li>
            <li><a th:href="@{tenant-leave}">Leave Request</a></li>
            <li><a th:href="@{logout}">Logout</a></li> <!-- Ensure this is mapped in your backend -->
        </ul>
    </nav>
</div>