<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Leave Request</title>
  <link rel="stylesheet" th:href="@{/sidebar.css}">

  <style>
    .alert-success {
      background-color: #d4edda;
      color: #155724;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      text-align: center;
      transition: opacity 1s ease-out;
    }

    .alert-success.hidden {
      opacity: 0;
    }
  </style>

</head>
<body>

<div th:replace="~{tenant/tenant-sidebar-button :: sidebarBtn}"></div>
<div th:replace="~{tenant/tenant-sidebar :: sidebarMenu}"></div>
<a th:href="@{/tenant/index}">Go Back</a>

<div class="content">
  <div th:if="${successMessage}" id="successMessage" class="alert alert-success">
    <p th:text="${successMessage}"></p>
  </div>
  <form action="/tenant/leave/submit" method="post" th:object="${leaveRequest}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <label for="targetLeaveDate">Tenant Name:</label>
    <input  id="tenantName" name="tenantName" required><br>
    <label for="targetLeaveDate">Target Leave Date:</label>
    <input type="date" id="targetLeaveDate" name="targetLeaveDate" required><br>

    <label for="reason">Reason:</label>
    <textarea id="reason" name="reason" required></textarea><br>

    <button type="submit">Submit Leave Request</button>
  </form>


</div>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    const message = document.getElementById("successMessage");
    if (message) {
      setTimeout(() => {
        message.style.display = "none";
      }, 5000);
    }
  });
</script>


<script th:src="@{/sidebar.js}"></script>

</body>
</html>