<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" th:href="@{/sidebar.css}">
</head>

<body>

<div th:replace="~{tenant/tenant-sidebar-button :: sidebarBtn}"></div>
<div th:replace="~{tenant/tenant-sidebar :: sidebarMenu}"></div>

<div class="content">

  <h1>Welcome to Apartment Management System</h1>
  <div class="center-buttons">
    <button onclick="location.href='tenant-announcement'">Announcements</button>
    <button onclick="location.href='tenant-payments'">View Payments</button>
    <button onclick="location.href='tenant-reports'">Add Complaint</button>
    <button onclick="location.href='tenant-leave'">Leave Request</button>
  </div>
</div>

<script th:src="@{/sidebar.js}"></script>

</body>
</html>
