<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tenant Announcements</title>
</head>
<body>
<div th:replace="~{tenant/tenant-sidebar-button :: sidebarBtn}"></div>
<div th:replace="~{tenant/tenant-sidebar :: sidebarMenu}"></div>
<h1>Announcements</h1>

<!-- Filter Buttons -->
<button onclick="window.location.href='/tenant/announcements?category=ALL'">All</button>
<button onclick="window.location.href='/tenant/announcements?category=notice'">Room Notice</button>
<button onclick="window.location.href='/tenant/announcements?category=rules'">Room Rules</button>

<!-- Table of Announcements -->
<table>
  <thead>
  <tr>
    <th>Description</th>
    <th>Target</th>
    <th>Date Posted</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="announcement : ${announcements}">
    <td th:text="${announcement.content}"></td>
    <td th:text="${announcement.target}"></td>
    <td th:text="${#temporals.format(announcement.postedAt, 'MMM dd, yyyy HH:mm')}"></td>
  </tr>
  </tbody>
</table>


</body>
</html>
