<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/src/main/resources/static/dashboard.css">
</head>
<body>

<!-- CONTENT SIDEBAR-->
<div class="sidebar" id="sidebar">
  <div class="profile">
    <div class="user-info">
      <div class="avatar">
        <img src="/src/main/resources/static/images/user-icon.png" alt="User Icon">
      </div>
      <div>
        <strong>Juan Dela Cruz</strong><br>
        Room 4
      </div>
    </div>
  </div>

  <!--LINKS MENU-->
  <div class="menu-links">
    <a href="dashboard.html" class="active">
      <img src="/src/main/resources/static/images/dashboard.png" alt="Dashboard Icon">
      Dashboard
    </a>
    <a href="announcements.html">
      <img src="/src/main/resources/static/images/announcements.png" alt="Announcements Icon">
      Announcements
    </a>
    <a href="payments.html">
      <img src="/src/main/resources/static/images/payments.png" alt="Payments Icon">
      Payments
    </a>
    <a href="add-complaints.html">
      <img src="/src/main/resources/static/images/reports.png" alt="Reports Icon">
      Reports
    </a>
    <a href="leave-request.html">
      <img src="/src/main/resources/static/images/leaverequest.png" alt="Leave Request Icon">
      Leave Request
    </a>
  </div>


  <div class="logout">
    <button>Log out</button>
  </div>
</div>

<!-- BUTTON SIDEBAR -->
<div class="hamburger" onclick="toggleSidebar()">
  <img src="/src/main/resources/static/images/sidebar.svg" alt="Sidebar Menu"  style="width: 35px; height: 30px;">
</div>


<!--MAIN MENU-->
<div class="header">Main Menu</div>

<div class="container">
  <div class="content">
    <h1>Welcome to Roomora!</h1>
    <p class="subtitle">Organize and manage your apartment details, payments, and more all in one place.</p>

    <div class="menu-links1">
      <div class="card">
        <a href="announcements.html"><strong>Announcements</strong></a>
        <p>View general and room announcements.</p>
      </div>

      <div class="menu-links1">
        <div class="card">
          <a href="payments.html"><strong>View Payments</strong></a>
          <p>View payment history and its details.</p>
        </div>

        <div class="menu-links1">
          <div class="card">
            <a href="add-complaints.html"><strong>Add Complaint</strong></a>
            <p>Add and submit complaints or concerns with regards to the apartment.</p>
          </div>

          <div class="menu-links1">
            <div class="card">
              <a href="leave-request.html"><strong>Leave Request</strong></a>
              <p>Submit leave application and track its status.</p>
            </div>
          </div>
        </div>

        <!-- JavaScript -->
        <script>
          function toggleSidebar() {
              const sidebar = document.getElementById('sidebar');
              sidebar.classList.toggle('active');
          }
        </script>


</body>
</html>