<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payments</title>
    <link rel="stylesheet" href="/src/main/resources/static/payments.css">
</head>
<body>

<!-- CONTENT SIDEBAR-->
<div class="sidebar" id="sidebar">
    <div class="profile">
        <div class="user-info">
            <div class="avatar">
                <img src="/src/main/resources/static/images/user-icon.png" alt="User Icon">
            </div>
            <div>
                <strong>Juan Dela Cruz</strong><br>
                Room 4
            </div>
        </div>
    </div>

    <div class="menu-links">
        <a href="dashboard.html">
            <img src="/src/main/resources/static/images/dashboard.png" alt="Dashboard Icon">
            Dashboard
        </a>
        <a href="announcements.html">
            <img src="/src/main/resources/static/images/announcements.png" alt="Announcements Icon">
            Announcements
        </a>
        <a href="payments.html" class="active">
            <img src="/src/main/resources/static/images/payments.png" alt="Payments Icon">
            Payments
        </a>
        <a href="reports.html">
            <img src="/src/main/resources/static/images/reports.png" alt="Reports Icon">
            Reports
        </a>
        <a href="leave-request.html">
            <img src="/src/main/resources/static/images/leaverequest.png" alt="Leave Request Icon">
            Leave Request
        </a>
    </div>

    <div class="logout">
        <button>Log out</button>
    </div>

<!-- BUTTON SIDEBAR -->
<div class="hamburger" onclick="toggleSidebar()">
    <img src="/src/main/resources/static/images/sidebar.svg" alt="Sidebar Menu"  style="width: 35px; height: 30px;">
</div>




<!-- JavaScript -->
<script>
    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('active');
    }
</script>


</body>
</html>